@font-face {
    font-family: demonsiege;
    src: url('./assets/game assets/MorrisRoman-Black.ttf');
}

body {
    background-color: rgb(98, 98, 98);
    box-sizing: border-box;
}

#myApp {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

/*style.css*/
.Header {
    background-color: rgb(73, 73, 73);
    margin: 25px;
}

.animationDiv {
    position: fixed;
    width: 40%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardPoolAnimation {
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s;
    z-index: 5;
}

.spinningDiv {
    width: 100%;
    height: 100%;
}

.playerHeader {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    margin: 1px;
}

.otherplayerHeader {
    display: flex;
    justify-content: space-around;
    background-color: rgb(73, 73, 73);
    margin: 1px;
}

.LoginPageheader {
    display: inline;
    margin-left: 10px;
    margin-right: 50px;
    color: white;
    font-family: 'Helvetica';
}

.playerHeaderContent {
    font-size: 1.1vw;
    display: inline;
    margin-left: 1px;
    margin-right: 5px;
    color: white;
    font-family: 'Helvetica';
}

.otherplayerHeaderContent {
    font-size: 0.8vw;
    display: inline;
    margin-left: 1px;
    margin-right: 3px;
    color: white;
    font-family: 'Helvetica';
}

.loginButton {
    width: 100px;
    height: 50px;
    margin: 15px;
    color: white;
    background-color: rgb(10, 56, 71);
}

.loginButton:disabled {
    color: rgb(10, 56, 71);
    background-color: rgb(198, 198, 198);
}

.card {
    width: 7vw;
    flex-shrink: 0;
    aspect-ratio: 2.5/3.5;
    font-size: 1.1vw;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
}

.bloom {
    box-shadow: 0 0 50px #fff, /* outer white */ -10px 0 80px #f0f, /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
    animation: glow 1.2s infinite;
}

@keyframes glow {
    0%,
    100% {
        box-shadow: 0 0 50px #fff, /* outer white */ -10px 0 80px #f0f, /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
    }
    50% {
        box-shadow: 0 0 80px #fff, /* outer white */ -24px 0 120px #f0f, /* outer left magenta */ 24px 0 120px #0ff; /* outer right cyan */
    }
}

.front,
.back {
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.front {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

.back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.smallcard {
    width: 4vw;
    /* aspect-ratio: 2/3; */
    border: 1px solid rgb(10, 56, 71, 0.25);
    font-size: 0.8vw;
    border-radius: 5px;
    perspective: 300px;
}

.ABcardTitle {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 4px;
    left: 20px;
    width: 80%;
    height: 8%;
}

.MCcardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 4px;
    left: 25px;
    width: 85%;
    height: 8%;
}

.LOCcardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 4px;
    left: 25px;
    width: 85%;
    height: 8%;
}

.ABcardCost {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 98px;
    width: 15%;
    height: 11%;
    font-size: 14px;
}

.ABcardType {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 57%;
    left: 29%;
    width: 42%;
    height: 8%;
    color: black;
    font-size: 10px;
    border: 2px solid #dab171;
}

.ABcardDesc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 66%;
    left: 5%;
    width: 89%;
    height: 28%;
    color: black;
}

.MCcardDesc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 42%;
    height: 48%;
    color: rgb(255, 255, 255);
}

.LOCcardDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 13%;
    left: 68%;
    width: 28%;
    height: 63%;
    color: rgb(255, 255, 255);
}

.LOCcardDescTD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0%;
    width: 100%;
    height: 50%;
    color: rgb(255, 255, 255);
    margin: auto;
}

.LOCcardDescDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    color: rgb(255, 255, 255);
    margin: auto;
}

.LOCcardDHealth {
    position: absolute;
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    top: 77%;
    left: 0%;
    width: 100%;
    height: 17%;
    color: rgb(255, 255, 255);
}

.LOCcardDHealthToken1 {
    width: 8%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    aspect-ratio: 1/1;
    background-size: contain;
}
.LOCcardDHealthToken2 {
    margin-top: 3%;

    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 8%;
    aspect-ratio: 1/1;
    background-size: contain;
}

.MCcardReward {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 68%;
    left: 5%;
    width: 42%;
    height: 25%;
    color: rgb(255, 255, 255);
}

.MCcardHealth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 83%;
    left: 83%;
    width: 13%;
    height: 12%;
    font-size: 16px;
}

.TDdescription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 69%;
    left: 4%;
    width: 91%;
    height: 25%;
    color: rgb(255, 255, 255);
}

.TDcardTitle {
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 15%;
    width: 80%;
    height: 8%;
}

.playerdiscard {
    position: absolute;
    top: 43%;
    right: 2%;
    background-color: rgba(111, 111, 111, 0.516);
    border-radius: 5px;
}

.noclick {
    pointer-events: none;
}

#damageFlash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.33;
    z-index: -1;
}

#discardModal {
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    z-index: 7;
}

.innerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: dimgray;
    background-color: lightgray;
    border: 3px solid rgb(212, 181, 1);
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    width: 20%;
    aspect-ratio: 2/1;
    transform: translate(-50%, -50%);
}

.hand {
    display: flex;
    position: relative;
    align-items: center;
    width: 55%;
    aspect-ratio: 3.2/1.5;
    border: 1px solid rgba(0, 0, 0, 0.335);
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(111, 111, 111, 0.124);
    border-radius: 5px;
}

.playerdeck {
    position: absolute;
    top: 43%;
    left: 2%;
    background-color: rgba(111, 111, 111, 0.516);
    border-radius: 5px;
}

.otherplayer {
    width: 20vw;
    aspect-ratio: 21/10;
    border: 2px solid rgb(10, 56, 71, 0.25);
    background-color: white;
    opacity: 1;
}

.other1 {
    position: fixed;
    right: 5%;
    transform: translateX(120%);
    top: 60%;
    animation: slideright 0.5s ease-in-out;
    z-index: 2;
}

.other2 {
    position: fixed;
    right: 5%;
    transform: translateX(120%);
    top: 40%;
    animation: slideright 0.5s ease-in-out;
    z-index: 2;
}

.other3 {
    position: fixed;
    right: 5%;
    transform: translateX(120%);
    top: 20%;
    animation: slideright 0.5s ease-in-out;
    z-index: 2;
}

.other2:hover {
    position: fixed;
    right: 5%;
    transform: translateX(25%);
    top: 40%;
    animation: slideleft 0.5s ease-in-out;
}

.other3:hover {
    position: fixed;
    right: 5%;
    transform: translateX(25%);
    top: 20%;
    animation: slideleft 0.5s ease-in-out;
}

.other1:hover {
    position: fixed;
    right: 5%;
    transform: translateX(25%);
    top: 60%;
    animation: slideleft 0.5s ease-in-out;
}

.playerStatusArea {
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.playerStatusEffect {
    height: 5vh;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 5px;
    width: 40vw;
    aspect-ratio: 21/10;
    transform: translate(-50%, 85%);
    left: 50%;
    animation: slideout 0.5s ease-in-out;
    z-index: 1;
}

.playersArea {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(10, 56, 71, 0.25);
}

.playersHandArea {
    flex-grow: 5;
    background-color: lightgray;
    height: 50%;
}

.playerStatus {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.playerContainer:hover,
.openPlayersHand {
    transform: translate(-50%);
    animation: slidein 0.5s ease-in-out;
}

.ABcardDrawer {
    background-image: url('./assets/game assets/drawer.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 17%;
    left: -34%;
    width: 35%;
    aspect-ratio: 1 / 1.1;
    transition: left 0.8s ease-in-out;
    z-index: 2;
}

.ABcardDrawer:hover,
.openDrawer {
    transition: left 0.8s ease-in-out;
    left: 0%;
}

.ABcardDeck {
    border: 1px rgb(10, 56, 71, 0.25) solid;
    position: absolute;
    top: 34%;
    left: 5%;
    border-radius: 5px;
}

.ABspot1 {
    border: 1px rgb(10, 56, 71, 0.25) solid;
    position: absolute;
    top: 4%;
    left: 37%;
    border-radius: 5px;
}

.ABspot2 {
    position: absolute;
    border: 1px rgb(10, 56, 71, 0.25) solid;
    top: 4%;
    left: 67%;
    border-radius: 5px;
}

.ABspot3 {
    position: absolute;
    border: 1px rgb(10, 56, 71, 0.25) solid;
    top: 34%;
    left: 37%;
    border-radius: 5px;
}

.ABspot4 {
    position: absolute;
    border: 1px rgb(10, 56, 71, 0.25) solid;
    top: 34%;
    left: 67%;
    border-radius: 5px;
}

.ABspot5 {
    position: absolute;
    border: 1px rgb(10, 56, 71, 0.25) solid;
    top: 64%;
    left: 37%;
    border-radius: 5px;
}

.ABspot6 {
    position: absolute;
    border: 1px rgb(10, 56, 71, 0.25) solid;
    border-radius: 5px;
    top: 64%;
    left: 67%;
}

.MonsterDiv {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 10% 1fr 1fr 10%;
    grid-template-areas:
        '. . . . . '
        '. deck title discard .'
        '. M1 M2 M3 .'
        '. . . . .';

    column-gap: 10px;
    row-gap: 15px;
    width: 40%;
    aspect-ratio: 3.3/2;
    position: fixed;
    top: 40%;
    left: 30%;
    border: 3px solid rgb(73, 73, 73, 0.25);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.75s;
}

.MonsterSpot {
    border: 1px solid rgba(105, 105, 105, 0.5);
    border-radius: 5px;
}

.MonsterSpotTitle {
    font-family: demonsiege;
    font-size: 1.5vw;
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    grid-area: title;
    width: 100%;
    text-align: center;
}

.MDeck {
    grid-area: deck;
    background-color: rgba(105, 105, 105, 0.5);
}

.M1 {
    grid-area: M1;
    background-color: rgba(105, 105, 105, 0.5);
}

.M2 {
    grid-area: M2;
    background-color: rgba(105, 105, 105, 0.5);
}

.M3 {
    grid-area: M3;
    background-color: rgba(105, 105, 105, 0.5);
}

.MDiscard {
    grid-area: discard;
    background-color: rgba(105, 105, 105, 0.5);
    font-family: demonsiege;
    font-size: 1.5vw;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
}

.MDiscard > span {
    position: relative;
    top: 45%;
}

.LocationsDiv {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2% 1fr 1fr 2%;
    grid-template-areas:
        '. .  . '
        '. title .'
        '. deck .'
        '. . .';
    transition: opacity 0.75s;
    column-gap: 10px;
    row-gap: 15px;
    width: 15%;
    aspect-ratio: 1/1.5;
    position: fixed;
    top: 20%;
    left: 10%;
    border: 3px solid rgb(73, 73, 73, 0.25);
    border-radius: 10px;
    opacity: 0;
}

.LTitle {
    border: 1px rgba(0, 0, 255, 0.355) solid;
    border-radius: 10px;
    grid-area: title;
}

.LDeck {
    border: 1px rgba(0, 0, 255, 0.355) solid;
    border-radius: 10px;
    grid-area: deck;
    background-color: rgba(105, 105, 105, 0.5);
}

.TDDiv {
    display: grid;
    grid-template-columns: 6.5% 1fr 6.5%;
    grid-template-rows: 1% 1fr 1fr 1%;
    grid-template-areas:
        '. .  . '
        '. title .'
        '. deck .'
        '. . .';
    transition: opacity 0.75s;
    column-gap: 10px;
    row-gap: 15px;
    width: 12%;
    aspect-ratio: 1/1.8;
    position: fixed;
    top: 20%;
    left: 75%;
    border: 3px solid rgb(73, 73, 73, 0.25);
    border-radius: 10px;
    opacity: 0;
}

.TDTitle {
    border: 1px rgba(0, 0, 255, 0.355) solid;
    border-radius: 10px;
    grid-area: title;
}

.TDDeck {
    border: 1px rgba(0, 0, 255, 0.355) solid;
    grid-area: deck;
    background-color: rgba(105, 105, 105, 0.5);
    border-radius: 10px;
}

.fadeIn {
    /* transition: opacity 0.75s; */
    opacity: 1;
}

#MonsterDeck {
    background-image: url('../src/assets/card assets/monster card.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#LocDeck {
    background-image: url('../src/assets/card assets/locationcardnew.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#TDDeck {
    background-image: url('../src/assets/card assets/towerdefense.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes slidein {
    from {
        transform: translate(-50%, 90%);
    }
    to {
        transform: translate(-50%, 0);
    }
}
@keyframes slideout {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, 90%);
    }
}

@keyframes slideleft {
    from {
        transform: translate(120%, 0%);
    }
    to {
        transform: translate(25%, 0);
    }
}
@keyframes slideright {
    from {
        transform: translate(25%, 0);
    }
    to {
        transform: translate(120%, 0%);
    }
}

@keyframes drawerslideIN {
    from {
        transform: translate(-34%, 0%);
    }
    to {
        transform: translate(0%, 0);
    }
}
@keyframes drawerslideOUT {
    from {
        transform: translate(0%, 0);
    }
    to {
        transform: translate(-34%, 0%);
    }
}

.hidden {
    display: none;
}
