/*style.css*/
.Header {
    background-color: rgb(73, 73, 73);
    margin: 10px;
}

.playerHeader {
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    margin: 1px;
}

.otherplayerHeader {
    display: flex;
    justify-content: space-around;
    background-color: rgb(73, 73, 73);
    margin: 1px;
}

.LoginPageheader {
    display: inline;
    margin-left: 10px;
    margin-right: 50px;
    color: white;
    font-family: 'Helvetica';
}

.playerHeaderContent {
    font-size: 1.1vw;
    display: inline;
    margin-left: 1px;
    margin-right: 5px;
    color: white;
    font-family: 'Helvetica';
}

.otherplayerHeaderContent {
    font-size: 0.8vw;
    display: inline;
    margin-left: 1px;
    margin-right: 3px;
    color: white;
    font-family: 'Helvetica';
}

.loginButton {
    width: 100px;
    height: 50px;
    margin: 15px;
    color: white;
    background-color: rgb(10, 56, 71);
}

.card {
    width: 7vw;
    aspect-ratio: 2/3;
    border: 2px solid rgb(10, 56, 71);
    font-size: 1.1vw;
}

.smallcard {
    width: 4vw;
    aspect-ratio: 2/3;
    border: 1px solid rgb(10, 56, 71);
    font-size: 0.8vw;
}

.playerdiscard {
    position: absolute;
    bottom: 10px;
    left: 5%;
}

.playerdeck {
    position: absolute;
    bottom: 10px;
    right: 5%;
}

.otherplayer {
    width: 20vw;
    aspect-ratio: 21/10;
    border: 2px solid rgb(10, 56, 71);
    background-color: white;
    opacity: 1;
}

.other1 {
    position: fixed;
    right: 5%;
    transform: translateX(120%);
    top: 60%;
    animation: slideright 0.5s ease-in-out;
}

.other2 {
    position: fixed;
    right: 5%;
    transform: translateX(120%);
    top: 40%;
    animation: slideright 0.5s ease-in-out;
}

.other3 {
    position: fixed;
    right: 5%;
    transform: translateX(120%);
    top: 20%;
    animation: slideright 0.5s ease-in-out;
}

.other2:hover {
    position: fixed;
    right: 5%;
    transform: translateX(25%);
    top: 40%;
    animation: slideleft 0.5s ease-in-out;
}

.other3:hover {
    position: fixed;
    right: 5%;
    transform: translateX(25%);
    top: 20%;
    animation: slideleft 0.5s ease-in-out;
}

.other1:hover {
    position: fixed;
    right: 5%;
    transform: translateX(25%);
    top: 60%;
    animation: slideleft 0.5s ease-in-out;
}

.playersArea {
    left: 50%;
    transform: translate(-50%, 90%);
    position: fixed;
    bottom: 5px;
    width: 33vw;
    aspect-ratio: 21/10;
    border: 2px solid rgb(10, 56, 71);
    animation: slideout 0.5s ease-in-out;
}

.playersArea:hover {
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    bottom: 5px;
    width: 33vw;
    aspect-ratio: 21/10;
    border: 2px solid rgb(10, 56, 71);
    animation: slidein 0.5s ease-in-out;
}

@keyframes slidein {
    from {
        transform: translate(-50%, 90%);
    }
    to {
        transform: translate(-50%, 0);
    }
}
@keyframes slideout {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, 90%);
    }
}

@keyframes slideleft {
    from {
        transform: translate(120%, 0%);
    }
    to {
        transform: translate(25%, 0);
    }
}
@keyframes slideright {
    from {
        transform: translate(25%, 0);
    }
    to {
        transform: translate(120%, 0%);
    }
}

.hidden {
    display: none;
}
